.on-game-start {
    transition: all 0.7s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.on-game-start-body {
    transition: all 0.7s ease-in-out;
    overflow: hidden;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}

.active i {
    color: var(--primary) !important;
}